/*
 * @Author: smileboyi 
 * @Date: 2018-04-10 13:43:31 
 * @Last Modified by: smileboyi
 * @Last Modified time: 2018-04-10 13:55:49
 */

img{border:none;max-width:100%;vertical-align:middle;}
body,p,form,input,button,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6{margin:0;padding:0;list-style:none;overflox:hidden}
h1,h2,h3,h4,h5,h6{font-size:100%;}
input,textarea{-webkit-user-select:text;-ms-user-select:text;user-select:text;-webkit-appearance:none;}
table{border-collapse:collapse;}
input,select,textarea{outline:none;border:none;background:none;}
a:link,a:active{text-decoration:none;}
a:visited{text-decoration:none;}
a{text-decoration:none;}
em,i{font-style:normal;}
li,ol{list-style:none;}

/****** 新增重置样式 begin ********/
input,button,select,textarea{outline:none}
textarea{resize:none}
/* 添加内阴影 */
input:-webkit-autofill,select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white  inset !important;
    box-shadow: 0 0 0px 1000px white  inset !important;
}
/* 去掉number默认样式 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
/* 其他样式 */
html{min-height: 100%;-webkit-transition:font-size 0.2s ease-out;}
body{width: 100%;min-height: 100%;}
html::-webkit-scrollbar{display: none;}
div,span,a,img{-webkit-user-select: none;-moz-user-select: none;}
a,img{-webkit-touch-callout: none;}
body{-webkit-overfloscrolling: touch;line-height: 1.6;font-family: -apple-system-font,Helvetica Neue,sans-serif}
/****** 新增重置样式 end ********/

/* 字根屏幕适配，移动端可以换成flexible.js */
/* 这里设定限制最大了，如果觉得小了可以去掉往上继续添加 */
@media (min-width: 1200px) {html {font-size: 36px;}}
@media (max-width: 1200px) {html {font-size: 36px;}}
@media (max-width: 1100px) {html {font-size: 33px;}}
@media (max-width: 1000px) {html {font-size: 30px;}}
@media (max-width: 900px) {html {font-size: 27px;}}
@media (max-width: 800px) {html {font-size: 24px;}}
@media (max-width: 700px) {html {font-size: 21px;}}
@media (max-width: 600px) {html {font-size: 18px;}}
@media (max-width: 500px) {html {font-size: 15px;}}
@media (max-width: 400px) {html {font-size: 12px;}}

/**********面向属性的css begin**********/
.bsb{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.pab{
	position: absolute;
}
.pre{
	position: relative;
}
.pfi{
	position: fixed;
}
.not{
	top:0;
}
.nob{
	bottom:0;
}
.nol{
	left:0;
}
.nor{
	right:0;
}
/* 去掉伪元素，一般伪元素都会设置display，
所以要加上!important后缀。不然会失效。 */
.noaf:after{
	display: none !important;
}
.nobe:before{
	display: none !important;
}
/* 元素水平居中 */
.wauto{
	/* 块级元素 */
	margin-right: auto;
	margin-left: auto;
}
.wauto2{
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.wauto3{
	-webkit-justify-content: center; 
	justify-content: center;
}
/* 元素垂直居中 */
.hauto{
	display: table-cell;
	vertical-align: middle;
}
.hauto2{
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hauto3{
	-webkit-align-items: center; 
	align-items: center;
}
/* 不定高宽元素水平垂直居中 */
.centre1{
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	margin: auto;
}
.centre2{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.centre3{
	-webkit-justify-content: center; 
	justify-content: center;
	-webkit-align-items: center; 
	align-items: center;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.fn{
	float: none;
}
/* 清除浮动*/
.fix{
	*zoom:1;
}
.fix:after{
	display:table;
	content:'';
	clear:both;
}
.db{
	display: block;
}
.dib{
	display: inline-block;
}
/*没有间隔的inline-block*/
.dib2{
	display: inline-block;
	font-size: 0;
	letter-spacing: normal;
	word-spacing: normal;
	-webkit-text-size-adjust:none;
}
.dt{
	display: table;
}
/* 横向flex */
.flex{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
/* 纵向flex(圣杯) */
.grail{
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.dn{
	display: none;
}
.fe{
	-webkit-flex: 1;
	flex: 1;
}
.w20{
	width: 20%;
}
.w25{
	width: 25%;
}
.w50{
	width: 50%;
}
.w75{
	width: 75%;
}
.w100{
	width: 100%;
}
.h50{
	height: 50%;
}
.h100{
	height: 100%;
}
.wh100{
	width: 100%;
	height: 100%;
}
/* 手机页面最大和最小宽度，pc端更多是响应式，就没有 */
.mw--app{
	max-width: 750px;
	min-width: 320px;
}
.nom{
	margin: 0;
}
.nomt{
	margin-top: 0;
}
.nomr{
	margin-right: 0;
}
.nomb{
	margin-bottom: 0;
}
.noml{
	margin-left: 0;
}
.nop{
	padding: 0;
}
.nopt{
	padding-top: 0;
}
.nopr{
	padding-right: 0;
}
.nopb{
	padding-bottom: 0;
}
.nopl{
	padding-left: 0;
}
.fnm{
	font-style:normal; 
	font-weight:normal; 
	white-space: normal;
}
.fb{
	font-weight:bold;
}
.fi{
	font-style:italic;
}
/* 用于隐藏文字，显示图片 */
.notext {
	text-align: left;
	letter-spacing: -3em;
	overflow: hidden;
}
.notext:first-letter {
	margin-left: -20em;
}
.tl{
	text-align: left;
}
.tc{
	text-align: center;
}
.tr{
	text-align: right;
}
.tj{
	text-align:justify;
}
/* 单行文字溢出虚点显示，多行的时候再结合其他样式*/
/* 因为单元格的流动性，使得文字根本就不存在溢出这种说法，需要结合table-layout: fixed使用 */
.ell{
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap: normal;
	overflow:hidden;
}
.contain{
	background-size: contain;
}
.cover{
	background-size: cover;
}
.norp{
	background-repeat: no-repeat;
}
/* 针对单个小图标 */
.icon{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/* css3过渡动画效果 */
.trans{
	-webkit-transition:all 0.3s;	
	transition:all 0.3s;
}
.ovh{
	overflow: hidden;
}
.ovv{
	overflow: visible;
}
.ovs{
	overflow: scroll;
}
.nobd{
	border: none;
}
.z10{
	z-index: 10;
}
.z50{
	z-index: 50;
}
.z100{
	z-index: 100;
}
.z500{
	z-index: 500;
}
.z1000{
	z-index: 1000;
}
.tsa{
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
/* 一般使用伪类放图标 */
.ai:after,
.bi:before {
	content: '';
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.bgctp{
	background-color: transparent;
}
.bde{
	border:1px solid #eee;
}
.bdc{
	border:1px solid #ccc;
}
.bdd{
	border:1px solid #ddd;
}

/**
 *	1、ac代表active(激活),in代表invalid(失效)。这2个状态class不能单独使用，
 *	需要配合其他class使用。比如.btn.ac代表按钮点中的状态。
 *	2、css属性书写顺序:
 *	影响文档流的属性（比如：display, position, float, clear, visibility, table-layout等） 
 *	自身盒模型的属性（比如：width, height, margin, padding, border等） 
 *	排版相关属性（比如：font, line-height, text-align, text-indent, vertical-align等） 
 *	装饰性属性（比如：color, background, opacity, cursor等） 
 *	生成内容的属性（比如：content, list-style, quotes等） 
 *	3、使用BEM命名class
 *	4、sn1,sn2,sn3等用于序号，在结构不好用nth-child(2)等类似表达时使用，不能单独使用。
 */

/**********面向属性的css end**********/
